#cloud-config

hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: remi
    groups: [sudo]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: true
    ssh_authorized_keys:
%{ for key in ssh_authorized_keys ~}
      - "${key}"
%{ endfor ~}

disable_root: true

package_update: true
package_upgrade: true

packages:
  - qemu-guest-agent
  - ca-certificates
  - curl
  - gnupg
  - lsb-release
  - git
  - vim
  - htop
  - chrony

write_files:
  - path: /etc/ssh/sshd_config.d/99-homelab.conf
    permissions: "0644"
    content: |
      PasswordAuthentication no
      PermitRootLogin no
      PubkeyAuthentication yes
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      UsePAM yes

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl restart ssh
  - timedatectl set-timezone Europe/Paris

final_message: |
  cloud-init finished
  docker-host baseline ready
