TZ=Europe/Paris

MQTT_USER=mqtt
MQTT_PASSWORD=change-me

# Exemple SMLIGHT, à adapter
SMLIGHT_SERIAL_URL=tcp://10.10.40.2:6638

# Zigbee2MQTT network key (16 bytes, 32 hex chars) ou "GENERATE" si tu veux
Z2M_NETWORK_KEY=GENERATE